[Desktop Entry]
Name=Shatterdome
GenericName=Shatterdome
Comment=Spaceship bridge simulator game
Exec=Shatterdome
Icon=io.github.daid.Shatterdome
Terminal=false
Type=Application
Categories=Game;Simulation;
